<script setup lang="ts">
import { ref } from "vue";
import ToolBar from "@/components/ToolBar.vue";
import Footer from "@/components/Footer_1.vue";

const history = ref([
  { topic: "ชื่อ-นามสกุล", information: "นรารัตน์ ลิขิตธนานันท์" },
  { topic: "ชื่อเล่น", information: "สตางค์" },
  {
    topic: "ประวัติการศึกษา",
    information: "จบจากโรงเรียนตราษตระการคุณ",
  },
  { topic: "วัน/เดือน/ปี เกิด", information: "13 มีนาคม 2545" },
  { topic: "งานอดิเรก", information: "ดูหนัง" },
]);
</script>

<template>
  <ToolBar></ToolBar>
  <h1 id="nameProfile">Portfolio</h1>

  <!-- <v-avatar image="smirk.png" size="76"></v-avatar> -->

  <container>
    <v-row>
      <v-col align="center">
        <v-avatar
          size="250"
          color="black"
          radius="10px"
          style="border: solid pink 5px"
        >
          <v-img
            src="https://lh3.googleusercontent.com/3Qfje6UcxKtodiLl87y2TMu-G8hTpwASxfMJWynC0h_qJ4FFNAbDsTkI3wTkVksDvWM=w800-h500"
            alt=""
            cover
          />
        </v-avatar>
        <v-divider length="5"></v-divider>
      </v-col>
    </v-row>
    <br />
    <v-row justify="center">
      <v-col cols="5">
        <v-table style="border: solid pink 5px">
          <tbody>
            <tr v-for="(item, index) of history" :key="index">
              <td style="text-align: center; font-size: 15px">
                {{ item.topic }}
              </td>
              <td style="text-align: center; font-size: 15px">
                {{ item.information }}
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </container>
  <br />
  <Footer> </Footer>
</template>

<style>
#nameProfile {
  text-align: center;
  font-family: "cursive", Arial, sans-serif;
  font-size: 100px;
  color: rgb(255, 0, 128);
}
body {
  background-color: black;
}
html {
  overflow-y: hidden;
}
</style>
